.env
.env.*
!.env.example

.pytest_cache/
__pycache__/
*.py[cod]

.venv/
.venv.bak/
venv/
env/

logs/
*.sqlite
*.log
tmp_*.log
collected_tests.json
tests/.tmp_*/
tests/.tmp_*.log

src.zip

.vscode/launch.json
